<body id="savedPage">
<div class="container" id="banner">
  <div class="jumbotron border-primary">
    <h1 class="display-3">Your Saved Articles</h1>
    <button type="button" class="btn btn-outline-primary" id="clearBtn">Clear All</button> 
    <a href="/" class="btn btn-outline-primary">Home</a>
  </div>
</div>

<!-- name of hbs obj that we created in the / route-->
<div class="container" id="banner">

  <ul>
    {{#each articles}}
          {{#if saved}}
          {{> article-saves/saved}}
          {{/if}}
          {{/each}}
  </ul>
</div>

</body>
