<div class="container" id="banner">
<div class="jumbotron border-primary">
  <h1 class="display-3">Scraping</h1>
  <button type="button" class="btn btn-outline-primary" href="/">Home</button>
  {{!-- <button type="button" class="btn btn-outline-primary">Saved Articles</button> --}}
</div>
</div>