body {
  font-family: 'Lilita One', cursive;
  background-image: url("https://rfclipart.com/image/big/ed-12-0d/grunge-white-and-black-brick-wall-Download-Royalty-free-Vector-File-EPS-215399.jpg");
}

#banner{
  font-family: 'Lilita One', cursive;
  text-align: center;
  background-image: url("https://rfclipart.com/image/big/ed-12-0d/grunge-white-and-black-brick-wall-Download-Royalty-free-Vector-File-EPS-215399.jpg");

}
#articleContent {
text-align: center;
font-family: 'Lilita One', cursive;
align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}